/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.log
mkmf.log
/debian/webhooker.postinst.debhelper
/debian/webhooker.postrm.debhelper
/debian/webhooker.prerm.debhelper
/debian/webhooker.substvars
/debian/webhooker
/debian/files
/.pc
Gemfile.lock
