/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.log
mkmf.log
/debian/webhookd.postinst.debhelper
/debian/webhookd.postrm.debhelper
/debian/webhookd.prerm.debhelper
/debian/webhookd.substvars
/debian/webhookd
/debian/files
/.pc
Gemfile.lock
